---
import Layout from "@layouts/Layout.astro";
import RevenueTable from "@components/RevenueTable.astro";
import {MonthSummary} from "@components/MonthSummary";
import type { number } from "astro:schema";

const {id} = Astro.params
---

<Layout>
    <div class="w-full h-full flex flex-col gap-[3rem]">
        <RevenueTable year = {id || undefined}/>
        <MonthSummary client:only year = {id}/>
    </div>
</Layout>