@import "tailwindcss";

@font-face {
    font-family: 'roboto';
    src: url('/fonts/RobotoFlex.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-regular';
    src: url('/fonts/PoppinsRegular.woff2');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-theme-black : #242424;
    --color-theme-light-gray: #F7F8FD;
    --color-theme-ocean-blue: #0055b3;
    --color-theme-light-blue: #007AFF;
}

body{
    font-family: 'poppins-regular';
    background-color: var(--color-theme-light-gray);
}

