---
import OperationsTable from '@components/OperationsTable.astro';
import Layout from '../layouts/Layout.astro';
import OperationForm from '@components/OperationForm.astro';
import ReactVirtualizedTable from '@components/OperationsTable';
import {Notifications} from '@components/Notifications';
import ProductsQuickAccess from '@components/ProductsQuickAccess.astro';
import { BACK_API } from 'astro:env/client';
import { promise } from 'astro:schema';

const result = await fetch(`${BACK_API}/api/get-products`)
const json = await result.json()
const products = json.data || []
---

<Layout>
	
    <div class="w-full h-full flex flex-col gap-[3rem]">
        <section class="flex justify-center h-full w-full gap-[3rem]">
            <OperationForm products={products}/>
            <div class="w-full flex flex-col min-h-full gap-[3rem]">
                <div class="flex h-1/2">
                    <Notifications client:visible />
                </div>
                <div class="flex h-1/2">
                    <ProductsQuickAccess products={products}/>
                </div>
            </div>
        </section>
        
        <section class="w-xs lg:w-full md:w-2xl">
            
                <ReactVirtualizedTable client:visible/>
            
        </section>
    </div>

    
    
    
</Layout>
