---
import OperationsTable from '@components/OperationsTable.astro';
import Layout from '../layouts/Layout.astro';
import OperationForm from '@components/OperationForm.astro';
import ReactVirtualizedTable from '@components/OperationsTable';
import {Notifications} from '@components/Notifications';
import ProductsQuickAccess from '@components/ProductsQuickAccess.astro';
---

<Layout>
	
    <div class="w-full h-full flex flex-col gap-[3rem]">
        <section class="flex justify-center h-full w-full gap-[3rem]">
            <OperationForm />
            <div class="w-full flex flex-col min-h-full gap-[3rem]">
                <div class="flex h-1/2">
                    <Notifications client:visible />
                </div>
                <div class="flex h-1/2">
                    <ProductsQuickAccess/>
                </div>
            </div>
        </section>
        
        <section class="w-xs lg:w-full md:w-2xl">
            
                <ReactVirtualizedTable client:visible/>
            
        </section>
    </div>

    
    
    
</Layout>
