---
import OperationsTable from '@components/OperationsTable.astro';
import Layout from '../layouts/Layout.astro';
import OperationForm from '@components/OperationForm.astro';
import ReactVirtualizedTable from '@components/OperationsTable';
import {Notifications} from '@components/Notifications';
import ProductsQuickAccess from '@components/ProductsQuickAccess.astro';
import { BACK_API } from 'astro:env/client';

const result = await fetch(`${BACK_API}/api/get-products`)
const json = await result.json()
const products = json.data || []

console.log(products)
---

<Layout style='flex-col items-center'>
	
    <div id="homepage-container" class="h-full w-full px-[3rem] flex flex-col items-center gap-[3rem] my-8">
        <section class="flex justify-center h-[600px] w-full gap-[3rem]">
            <OperationForm products={products}/>
            <div class="w-full flex flex-col min-h-full gap-[3rem]">
                <div class="flex h-1/2">
                    <Notifications client:visible />
                </div>
                <div class="flex h-1/2">
                    <ProductsQuickAccess products={products}/>
                </div>
            </div>
        </section>
        
        <section class="w-xs lg:w-full md:w-2xl">
            
                <ReactVirtualizedTable client:visible/>
            
        </section>
    </div>

    
    
    
</Layout>

<!-- <style>
    #homepage-container{
        grid-template-areas: 
        "operation-form operation-form notifications"
        "operation form operation form products"
        "orders orders orders"
        ;
        
        grid-template-columns: auto auto 500px;
		grid-template-rows:  300px 300px auto;
    }
</style> -->
