---
import RefreshIcon from '@icons/RefreshIcon.svg'
---

<div class="flex gap-2 items-center md:gap-10">
    <strong id="live-date">

    </strong>
    <div class="flex  items-center">
        <span class="hidden md:block">
            D贸lar BCV: &nbsp;
        </span>
        <div>
            <strong id="dolar-bcv">
                
            </strong>
        </div>

        <button id="sync-dolar-button" class="size-8 ml-3 p-1 rounded-full border font-semibold hover:opacity-60 transition-opacity cursor-pointer">
            <RefreshIcon/>
        </button>
    </div>

    
</div>

<script>
    import { fetchBcvRate } from "@lib/fetchBcvRate"
    import { registerUpdate } from '@lib/updateManager';

    async function updateDolarRate() {
        try {
            const {dolar_rate, last_update} = await fetchBcvRate()
            const dolar = document.getElementById("dolar-bcv")
            const date = document.getElementById("live-date")

            if (dolar) {
                dolar.innerHTML = dolar_rate;
            }

            if(date){
                date.innerHTML = last_update;
            }

        } catch (error) {
            console.error("Error al obtener la tasa del d贸lar:", error)
        }
    }

    // Registrar la funci贸n de actualizaci贸n
    registerUpdate(updateDolarRate);
</script>

<script>
    import {manualRateSync} from '@lib/manualRateSync'
    const syncButton = document.getElementById('sync-dolar-button')
    syncButton?.addEventListener('click', ()=>{
        manualRateSync()
    })
</script>