---
import SyncroLogo from '../assets/logos/syncro.svg'
import PackageIcon from '@icons/package.svg'
import SummaryIcon from '@icons/summary.svg'
import HomeIcon from '@icons/home.svg'
import { Image } from 'astro:assets'
import LogOutIcon from '@icons/logout.svg'
import CashoutIcon from '@icons/cashout.svg'

const currentYear = new Date().getFullYear();
---
<nav class="relative text-theme-light-gray">
   <div class="flex flex-col pl-10 py-15  gap-8 w-[200px] xl:w-[280px] h-full fixed">
    <a href="/" class="flex items-center justify-start">
        <picture class="h-7 text-theme-light-gray">
            <SyncroLogo/>
        </picture>
        
    </a>
    <div class="flex flex-col gap-4">
        <span class="text-xs text-theme-light-gray/70">NAVEGACIÓN</span>
        <hr>
        <ul class="flex flex-col gap-5">

            <li class="optionNav hover:bg-theme-light-gray/20 rounded transition-colors ease-in-out">
                
                <a  class="p-2 flex items-center gap-2" href="/">
                    <div class="size-5">
                        <HomeIcon/>
                    </div>
                    Inicio
                </a>
            </li>
            
            <li class="optionNav hover:bg-theme-light-gray/20 rounded transition-colors ease-in-out">
                
                <a  class="p-2 flex items-center gap-2" href="/products/all">
                    <div class="size-5">
                        <PackageIcon/>
                    </div>
                    Productos
                </a>
            </li>

            <li class="optionNav hover:bg-theme-light-gray/20 rounded transition-colors ease-in-out">
                
                <a  class="p-2 flex items-center gap-2" href={`/revenue/1-${currentYear}`}>
                    <div class="size-5">
                        <SummaryIcon/>
                    </div>
                    Resumen
                </a>

                <li class="optionNav flex ml-8 hover:bg-theme-light-gray/20 rounded transition-colors ease-in-out">
                
                    <a  class="p-2 self-end flex items-center text-xs gap-2" href={`/revenue/1-${currentYear}`}>
                        <div class="size-5 rounded-sm overflow-hidden">
                            <div class="size-4  rounded-sm overflow-hidden">
                                <img src="/cashea-logo.avif" alt="logo cashea">
                            </div>
                        </div>
                        Cashea
                    </a>
                </li>
    
                <li class="optionNav flex ml-8 hover:bg-theme-light-gray/20 rounded transition-colors ease-in-out">
                    
                    <a  class="p-2 w-full self-end flex items-center text-xs gap-2" href={`/revenue/0-${currentYear}`}>
                        <div class="size-4  rounded-sm overflow-hidden">
                            <img src="/cash-check.avif" alt="logo milenium mania">
                        </div>
                        De contado
                    </a>
                </li>
            </li>

            <li class="optionNav hover:bg-theme-light-gray/20 rounded transition-colors ease-in-out">
                
                <a  class="p-2 flex items-center gap-2" href="/cashout">
                    <div class="size-5">
                        <CashoutIcon/>
                    </div>
                    Cierre de caja
                </a>
            </li>

            <li class=" hover:bg-theme-light-gray/20 rounded transition-colors ease-in-out">
                
                <a class="p-2 log-out flex items-center gap-2 cursor-pointer">
                    <div class="size-5">
                        <LogOutIcon/>
                    </div>
                    Cerrar Sesión
                </a>
            </li>


            
        </ul>
    </div>
   </div>
</nav>

<script>

    const logOutButton = document.querySelectorAll('.log-out')


    const logOut = async ()=>{
        console.log('holaaa')
        const response = await fetch('http://localhost:5000/logout', {
            method: 'GET',
            credentials:'include'
            
        })

        if (response.status === 200){
            window.location.href = '/auth'
        }

        
    }

    
    logOutButton.forEach((logout)=>{
        logout.removeEventListener('click', logOut)
        logout.addEventListener('click', logOut)
    })
</script>


<!-- <script>

import {useNavStore} from '@stores/navOptionStore.js'
const navOptions = document.querySelectorAll('.optionNav')
        

navOptions.forEach((option, index)=>{
       console.log(option)
    })

export const optionNav = ()=>{
    const {selectedOption, setSelectedOption} = useNavStore.getState()
    
    // navOptions.forEach((option, index)=>{
    //     option.addEventListener('click', (e)=>{
    //         setSelectedOption(index)
    //     })
    // })
    
    navOptions.forEach((option, index)=>{
        if (selectedOption!==null && index === selectedOption){
            option.classList.add('bg-theme-light-gray/20')
        }
    })
}   
    optionNav()
    
   

    

</script> -->