---

---
<section class="min-w-5xl">
    <h2 class="font-bold mb-4">
        Operaciones
    </h2>
    
    <div id="table-container">
        {/* Este div será reemplazado por React */}
    </div>
</section>

